@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

/* LINK TO HOMEPAGE */

.container-a{
    padding: 5px;
}

a{
    color: black;
    text-decoration: none;
}

/* CARD LIST */

.card{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    margin: 80px auto;
    flex-direction: column;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 4px #4d4d4d;
}

.card h1{
    margin: 20px 0;
    text-align: center;
}

/* CLASS SUCCESS MSG */
.success{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px;
    background-color: #b1ffb8;
    border-radius: 5px;
}

/* CLASS ERROR MSG */
.error{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px;
    background-color: #ffa0a0;
    border-radius: 5px;
}

.card form{
    width: 80%;
    margin-bottom: 30px;
    display: flex;
}

.form-control{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card input{
    width: 80%;
    padding: 3px;
    margin-right: 10px;
}

.card button{
    border: none;
    padding: 3px;
    border-radius: 4px;
    background-color: #777777;
    color: #ffffff;
}

.list{
    width: 50%;
    margin-bottom: 20px;
}

.list div{
    display: flex;
    padding: 1px;
}

.list div p{
    width: 80%;
}

.divBtn{
    visibility: hidden;
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #343a40;
    height: 80px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
  }
  
  .logo img{
    width: 80px;
  }
  
  .container-social{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-social a{
    padding: 3px;
  }

  /* RESPONSIVE CARD */

  @media(max-width: 1400px){
    .card{
        width: 65%;
    }
  }

  @media(max-width: 1000px){
    .card{
        width: 70%;
    }
  }

  @media(max-width: 700px){
    .card{
        width: 90%;
    }
  }

  @media(max-width: 550px){
    .card{
        width: 100%;
    }

    .card input{
        width: 100%;
    }
  }